body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}
.boton-jugada {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: -5px 4px 9px -3px rgba(41,41,41,1);
  
}
#resultados {
  font-size: 20px;
  margin: 20px 0;
}